<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
$!{message}  <!-- 整合velocity 模板 -->
$!{user.username}
<input type="button" value="checkme" id="btn1"/>
<input type="button" value="checkme" id="btn2"/>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script type="text/javascript" src="http://localhost:10500/aaa/js/airportCode.js" defer></script>
<script type="text/javascript" src="http://localhost:10500/aaa/js/hello.js" defer></script>


</html>