<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
<script>
$(function(){
    $('#btn').click(function(){
        $.post('/getUser',function (data) {
            console.log(data);
        });
    })


    $('.rabbitmq').on('click',function(){
        var id = this.id;
        $.post('/'+id,function (data) {
            console.log(data)
        })
    })
})


</script>
<body>
<input type="button" id="btn" value="check me"/>
<input type="button" id="sendPoint" value="sendPoint" class="rabbitmq"/>
<input type="button" id="sendMutil" value="sendMutil" class="rabbitmq"/>
<input type="button" id="sendFanout" value="sendFanout" class="rabbitmq"/>
<input type="button" id="sendDirect" value="sendDirect" class="rabbitmq"/>
<input type="button" id="sendTopic" value="sendTopic" class="rabbitmq"/></br>

<input type="button" id="limit" value="测试redis脚本" class="rabbitmq">
<input type="button" id="limit3" value="测试redis脚本3" class="rabbitmq">
</body>
</html>